[submodule "src/mlx-vlm"]
	path = src/mlx-vlm
	url = https://github.com/ivan-avramov/mlx-vlm.git
	branch = main
[submodule "src/mlx-serve"]
	path = src/mlx-serve
	url = https://github.com/ivan-avramov/mlx-serve.git
	branch = gemma4fixes
